[submodule ".registry"]
	path = .registry
	url = https://github.com/pepijn-devries/pepijn-devries.r-universe.dev
	branch = HEAD
[submodule "AmigaFFH"]
	path = AmigaFFH
	url = https://github.com/pepijn-devries/AmigaFFH
	branch = master
[submodule "CopernicusMarine"]
	path = CopernicusMarine
	url = https://github.com/pepijn-devries/CopernicusMarine
	branch = master
[submodule "ECOTOXr"]
	path = ECOTOXr
	url = https://github.com/pepijn-devries/ECOTOXr
	branch = main
[submodule "ProTrackR"]
	path = ProTrackR
	url = https://github.com/pepijn-devries/ProTrackR
	branch = master
[submodule "adfExplorer"]
	path = adfExplorer
	url = https://github.com/pepijn-devries/adfExplorer
	branch = master
[submodule "adfExplorer2"]
	path = adfExplorer2
	url = https://github.com/pepijn-devries/adfExplorer2
	branch = master
[submodule "csquares"]
	path = csquares
	url = https://github.com/pepijn-devries/csquares
	branch = main
[submodule "ggfields"]
	path = ggfields
	url = https://github.com/pepijn-devries/ggfields
	branch = master
[submodule "ggsankeyfier"]
	path = ggsankeyfier
	url = https://github.com/pepijn-devries/ggsankeyfier
	branch = master
