[submodule ".registry"]
	path = .registry
	url = https://github.com/pepijn-devries/pepijn-devries.r-universe.dev
	branch = HEAD
[submodule "CopernicusMarine"]
	path = CopernicusMarine
	url = https://github.com/pepijn-devries/CopernicusMarine
	branch = master
[submodule "ECOTOXr"]
	path = ECOTOXr
	url = https://github.com/pepijn-devries/ECOTOXr
	branch = main
